<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand btn-outline-success" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link btn-outline-success" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-outline-success" href="#">Link</a>
      </li>
      <li class="nav-item dropdown btn-outline-success">
        <a class="nav-link dropdown-toggle btn-outline-success" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu btn-outline-success" aria-labelledby="navbarDropdown">
          <a class="dropdown-item btn-outline-success" href="#">Action</a>
          <a class="dropdown-item btn-outline-success" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item btn-outline-success" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<h1>listning  articles pages</h1>

<table>
  <thead>
    <tr>
      <th>title</th>
      <th>description</th>
      <th colspan="3">action</th>
    </tr>
  </thead>
  <tbody>
    <% @articles. each do |article| %> 
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Create a New Article', new_article_path %>
</p>